---
# This is a role for setting up the client.

- name: Install packages
  become: true
  apt:
    name: 
      - firefox
    state: present

- name: Create alias for server
  lineinfile:
    path: '/etc/hosts'
    line: '192.168.20.5 server'

# Include Config GUI
- include_tasks: Config_GUI.yml
...
