---
# This is a role for setting up the client.

- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Wireshark package
  apt:
    name: wireshark
    state: present

- name: Set debconf value for lightdm
  debconf:
    name: lightdm
    question: lightdm/display-manager
    value: lightdm
    vtype: string

- name: Install lightdm
  apt:
    name: 
      - lightdm
    update_cache: yes

- name: Install xfce4 and xfce4-goodies
  apt:
    name: 
      - xfce4
      - xfce4-goodies
    update_cache: yes

- name: Reboot the machine
  reboot:
    reboot_timeout: 480
    pre_reboot_delay: 0
    post_reboot_delay: 30
  become: true
  become_method: sudo
  async: 0
  poll: 0
  register: reboot_result
  ignore_errors: true

- name: Wait for the machine to come back online
  wait_for_connection:
    delay: 10
    timeout: 480

- name: Install tigervnc-standalone-server and tigervnc-xorg-extension and tigervnc-viewer
  become: true
  apt:
    name: 
      - tigervnc-standalone-server
      - tigervnc-xorg-extension
      - tigervnc-viewer
    state: present

- name: Create /var/log/apt directory
  file:
    path: /var/log/apt
    state: directory
# Create necessary files
- name: Create xvnc.socket file
  copy:
    src: xvnc.socket
    dest: /etc/systemd/system/xvnc.socket
    mode: "0755"

- name: Create xvnc@.service file
  copy:
    src: xvnc@.service
    dest: /etc/systemd/system/xvnc@.service
    mode: "0755"

- name: Create lightdm.conf file
  copy:
    src: lightdm.conf
    dest: /etc/lightdm/lightdm.conf
    mode: "0755"

# Start the VNC socket script and set it to start automatically on boot
- name: Reload systemd daemon
  systemd:
    daemon_reload: yes

- name: Enable xvnc.socket
  systemd:
    name: xvnc.socket
    enabled: yes

- name: Start xvnc.socket
  systemd:
    name: xvnc.socket
    state: started

# # Restart LigthDM service
# - name: Restart lightdm.service
#   systemd:
#     name: lightdm.service
#     state: restarted

#Run VNCserver
- name: Move to home directory
  shell: cd ~

- name: Run vncserver and configure password
  expect:
    command: vncserver
    responses:
      'Password:': password
      'Verify:': password
      'Would you like to enter a view-only password (y/n)?': n
    # ignore_errors: True

# Create xstartup
- name: Overwrite file xstartup in .vnc
  copy:
    src: xstartup
    dest: ~/.vnc/xstartup
    force: yes

- name: Set executable permission for xstartup
  file:
    path: ~/.vnc/xstartup
    mode: '+x'

- name: Kill VNC server process
  become: true
  shell: vncserver -kill :1

- name: Run vncserver again
  command: vncserver :1

...
