[Desktop Entry]
Version=1.0
Type=Application
Name=Burp Suite
Comment=Web Vulnerability Scanner
Exec=java -jar {{ path_to_burpsuite_jar }}
Icon={{ path_to_icon }}
Terminal=false
StartupNotify=true
Categories=Security;Network;Web;
