[Desktop Entry]
Version=1.0
Type=Application
Name=Burp Suite
Comment=Web Vulnerability Scanner
Exec= java -jar /root/Documents/Burpsuite/burpsuite_community.jar
Icon= /root/Documents/Burpsuite/burpsuite_community.ico
Terminal=false
StartupNotify=true
Categories=Security;Network;Web;
